@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: linear-gradient(236.85deg, #660066 19.26%, #6666ff 62.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #ecf4ff;
  color: #1c1c1c;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-height: 160px;
  border-radius: 400%;
  width: 10rem;
  height: 10rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 24px;
  padding: 8px 30px;
  background: #ecf4ff;
  border-radius: 100px;
}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(236.85deg, #9966ff 27.26%, #3394ff 70.03%);
  margin-top: 32px;
  padding: 32px;
  border-radius: 64px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}

.dark {
  background: linear-gradient(236.85deg, darkslategray 19.26%, black 62.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .tema button {
  background: #333439;
  color: #f6f6f6;
  border: 2px solid #f7f7f7;
}

.dark .projetos {
  background: linear-gradient(236.85deg, #660066 19.26%, black 62.03%);
}